.thumbnail {
  height: 100px;
  width: 100px;
}

.thumb {
  width: 150px;
  height: 150px;
}

.header,
.footer {
  background-color: #1F2937;
  color: #F9FAF8;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  font: roboto;
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0;
}

.header-logo {
  font-size: 24px;
}

button,
.sign-up {
  background-color: #3882F6;
}

h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
}

.quote-section {
  background-color: #E5E7EB;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}

.full-page {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}

.header-links {
  display: flex;
  gap: 12px;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 400px;
  gap: 8px;
}

button {
  width: 100px;
  height: 30px;
  border-color: white;
  color: white;
  font-weight: bold;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

p {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  padding-bottom: 80px;
  gap: 32px;
}

.thumb {
  padding-right: 100px;
}